# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RData-tmp

# RStudio project files
.Rproj.user/

# Large Data files (Raw or processed UK Biobank data)
*.RData
*.rds
*.csv
*.xlsx
*.xls
*.docx
*.pptx
*.pdf
*.tif
*.ai
*.svg
*.dat

# Output directories
output*/
output/
image/
正式撰写论文/
以dat.analysis12_impute训练集作为标化的新分析/
没有LASSO但是去除共线性 和 LASSO了但是不加入年龄/
DXA计算器专利申请/
LASSO and no LASSO/
*.log

# Except specific files if needed (e.g. README, code files)
!README.md
!code/
!code/*.R
!LICENSE
!.gitignore
